---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "私について";

const skills = ["TypeScript", "React", "Next.js", "Astro", "Flutter"];

const skillColor = "crimson";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>It's a piece of cake</h2>

  <p>フロントエンドに生息。かっこいいもの全般が好き。</p>

  <p>skills</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <style define:vars={{ skillColor }}>
    .skill {
      color: var(--skillColor);
      font-weight: bold;
    }
  </style>
</BaseLayout>
